<section id="events">
    <div class="container">
        {% if collections.events | length == 0 %}
            <h1>No Recent Posts</h1>
        {% else %}
            {% set counter = 0 %}
            {%- for post in collections.events | reverse -%}
                {% if counter < 2 %}
                    <article class="recent-articles">
                        <div class="event-item">
                            <a class="event-image" href="{{ post.data.link }}">
                                <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" decoding="async" />
                            </a>
                            <div class="event-description">
                                {{ post.data.description }}
                            </div>
                        </div>
                    </article>
                    {% set counter = counter + 1 %}
                {% endif %}
            {%- endfor -%}
        {% endif %}
    </div>
    <div class="container">
        <a href="/events" class="cs-button-solid">All Events</a>
    </div>
</section>
