<!-- ============================================ -->
<!--             Events                           -->
<!-- ============================================ -->

<section id="events">
    <div class="container">
        {% if collections.events | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.events | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <a href="{{ post.data.link }}"><img width="200" height="200" decoding="async" src="{{ post.data.image }}" /></a>
                        {{ post.data.description }}
                      <!--   <picture class="events-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="150"
                            height="150"
                            decoding="async" />
                        </picture> -->
                        <!--Article Info-->
                        <!-- <div class="article-group">
                            <h2 class="events-h1">
                                {{ post.data.title }} - 
                                {{ post.date | postDate }}
                            </h2>
                            <p class="events-desc">
                                {{ post.templateContent | safe }}
                            </p>
                        </div> -->
                    </article>
                {%- endfor -%}
            {% endif %}
        <a href="/events" class="cs-button-solid">All Events</a>
    </div>
</section>