<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reggio">Reggio</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/jobs">Jobs</a>
                    </li>
                    <li>
                        <a href="/resources">Resources</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>

                    </li>
                    <!-- <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li> -->
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="/joinus">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-dark.svg" alt="logo" width="664" height="78"></a>
        </div>
    </div>

    <div class="credit">
        <span class="copyright">
            Copyright {% year %} - </span>
            <span>Calgary Reggio Network Association</span>
    </div>
</footer>