---
title: 'Events'
description: 'Calgary Reggio Events'
preloadImg: '/assets/images/assets/images/events-hero.webp'
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/events.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Events</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/events-hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/events-hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/events-hero.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Events Content             -->
    <!-- ============================================ -->

    <div class="events-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Events                       -->
            <!-- ============================================ -->
            
            <section id="eventspage">
                <div class="container">
                    {% if collections.events | length == 0 %}
                        <h1>No Recent Posts</h1>
                    {% else %}
                        {% set counter = 0 %}
                        {%- for post in collections.events | reverse -%}
                            {% if counter < 2 %}
                                <h2 class="cs-topper">
                                    {{ post.data.title }}
                                </h2>
                                <span class="cs-title">{{ post.date | postDate }} {{ post.data.times }}</span>
                                <div id="container">&nbsp;</div> <!-- fix next build -->
                                <article class="recent-articles">
                                    <div class="event-item">
                                        <a class="event-image" href="{{ post.data.link }}">
                                            <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" decoding="async" />
                                        </a>
                                        <div class="event-description">
                                            {{ post.data.description }}
                                        </div>
                                    </div>
                                </article>
                                {% set counter = counter + 1 %}
                            {% endif %}
                        {%- endfor -%}
                    {% endif %}
                </div>
            </section>
        </div>
    </div>

{% include 'components/cta.html' %}
{% endblock %}