---
title: 'Events'
description: 'Calgary Reggio Events'
preloadImg: '/assets/images/assets/images/events-hero.webp'
permalink: 'events/'
eleventyNavigation:
    key: Events
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/events.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Events</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/events-hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/events-hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/events-hero.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--              Main Events Content             -->
    <!-- ============================================ -->

    <div class="events-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Events                       -->
            <!-- ============================================ -->
            {% if collections.events | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.events | reverse -%}
                    <article class="recent-articles">
                        <div class="article-group">
                            <h2 class="cs-topper">
                                {{ post.data.title }}
                            </h2>
                            <span class="cs-title">{{ post.date | postDate }}</span>
                            <p class="events-desc">
                                {{ post.templateContent | safe }}
                            </p>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>
    </div>

    {% include 'components/cta.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var iframes = document.querySelectorAll('iframe[src*="zeffy.com/en-CA/embed/ticketing"]');
            iframes.forEach(function(iframe) {
                iframe.style.height = '520px';
            });
        });
    </script>
        
{% endblock %}
