---
title: 'Join Us'
description: 'Calgary Reggio Network Association Membership'
preloadImg: '/assets/images/contact-hero.webp'
permalink: 'joinus/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Join Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/contact-hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/contact-hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/contact-hero.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScwmzTFj04sp8HxhWePDBqzgSG2YZXxVhnHFUOuXNLSzLiBhA/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <div class="cs-right-section">

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/facecollage.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/facecollage.webp" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}