---
title: 'Join Us'
description: 'Calgary Reggio Network Association Membership'
preloadImg: '/assets/images/contact-hero.webp'
permalink: 'joinus/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Join Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/contact-hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/contact-hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/contact-hero.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Become a member</span>
                    <h2 class="cs-title">Join Us</h2>
                    <p class="cs-text">
                        Please fill out this form to join our network. By joining, you'll gain access to valuable knowledge, support, and connections with educators who are passionate about the Reggio Emilia Approach.
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/facecollage.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/facecollage.webp" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}