---
title: 'Reggio'
description: 'About The Reggio Approach'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reggio/'
eleventyNavigation:
    key: Reggio
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Reggio Emilia Approach</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/reggio-hero-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/reggio-hero.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/reggio-hero.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About the Reggio Emilia Approach</span>
                <p class="cs-text">
                    The Reggio Emilia ApproachⓇ emphasizes the image of the child as capable, full of potential and as an active citizen with rights with the inherent ability to construct their own knowledge through the hundred languages in collaboration with others. This approach is not a method that can be learned and applied. However, it can act as a provocation and inspiration for educators as we consider our own cultural values and contexts as we interpret and adapt the principles and values founded in Reggio Emilia.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="cs-container">
                <span class="cs-title">Key Principles</span>
            </div>
                <span class="cs-topper">Image of the Child:</span>
                    <ul>
                        <li>Capable & competent.</li>
                        <li>Full of potential.</li>
                        <li>Protagonists or active agents in their own learning.</li>
                        <li>Citizens with rights rather than needs.</li>
                        <li>Constructors of their own knowledge.</li>
                        <li>Exhibits strong desire to be in relationships and to communicate with others.</li>
                        <li>Creators of culture and identity (with others).</li>
                    </ul>
                <span class="cs-topper">Environment as Third Teacher:</span>
                    <ul>
                        <li>Rich, complex, carefully planned aesthetically beautiful spaces.</li>
                        <li>Layout fosters encounters, communication and relationships.</li>
                        <li>High quality materials used.</li>
                        <li>Intentional placement and use of materials to provoke thinking (provocations/invitations to learn).</li>
                        <li>Reflects the culture and community.</li>
                        <li>Large blocks of time.</li>
                    </ul>
                <span class="cs-topper">Environment as Third Teacher:</span>
                    <ul>
                        <li>Capable & competent.</li>
                        <li>Full of potential.</li>
                        <li>Protagonists or active agents in their own learning.</li>
                        <li>Citizens with rights rather than needs.</li>
                        <li>Constructors of their own knowledge.</li>
                        <li>Exhibits strong desire to be in relationships and to communicate with others.</li>
                        <li>Creators of culture and identity (with others).</li>
                    </ul>
                    <span class="cs-topper">Relationships:</span>
                    <ul>
                        <li>Education is built by reciprocal and interconnected relationships between children, with teachers, with family, with community and the environment.</li>
                        <li>Role of the Teacher as co-researcher, learning alongside children, guide, researcher, documenter and provocateur.</li>
                        <li>Role of Parents as co-responsible partners rather than consumers.</li>
                        <li>Collaborative teaching relationships rather than hierarchical ones. All staff members work collaboratively, including cook and support or part-time staff.</li>
                    </ul>
                    <span class="cs-topper">Hundred Languages:</span>
                    <ul>
                        <li>Each medium (drawing, painting, wire, poetry, puppets, music, dance, light and shadow etc.) has the potential to become a language for expression and communication.</li>
                        <li>Each school has an atelierista (artist-teacher) and atelier (art studio), many classrooms have mini-ateliers.</li>
                        <li>Materials are used as thinking tools.</li>
                        <li>Use of art media is not seen as a separate class or subject, but as integral to the cognitive/symbolic process of learning.</li>
                    </ul>
                    <span class="cs-topper">Documentation:</span>
                    <ul>
                        <li>Honors the voice of the child and makes learning visible.</li>
                        <li>Many forms: photographs, video, audio recording, transcriptions, observations.</li>
                        <li>Shared with others to analyze and interpret children’s theories, questions, processes.</li>
                        <li>Provides opportunity to revisit experiences.</li>
                        <li>Assists teacher in role of researcher and reflective practitioner.</li>
                    </ul>
                    <span class="cs-topper">Project Work:</span>
                    <ul>
                        <li>Emergent based on children’s interests as shown through documentation.</li>
                        <li>Learning by doing & revisiting ideas and experiences.</li>
                        <li>Start by chance event, child’s idea, or experience initiated by teacher.</li>
                        <li>Flexible planning that occurs through the evolution of a project (Progettazione).</li>
                        <li>Teachers predict possible directions for project, but actual direction depends on children, teachers and parents collaborating.</li>
                        <li>Last from a few days to months.</li>
                        <li>Not all children need to be engaged in all aspects of a project or in all projects.</li>
                        <li>Alterista and Pedagogista act as consultants.</li>
                    </ul>
            </div>
            <div>
                <a href="/projects" class="cs-button-solid">Go to Reggio Children</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}